<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="input-group" style="position: relative;">
                        <input type="text" value="" class="form-control" placeholder="Tìm kiếm...">
                        <i class="nc-icon nc-zoom-split" style="position: absolute; right: 14px; top: 14px;"></i>
                    </div>
                </form>
            </div>

            <div class="col-md-8">
                <div class="row float-right">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                  <i class="fas fa-plus"></i> Add student</button>
                    <button class="au-btn au-btn-icon au-btn--dark au-btn--small">
                  <i class="fas fa-download"></i> Export</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sinh viên</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class=" text-primary">
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Link CV</th>
                        <th>Trường học</th>
                        <th>Năm thứ</th>
                        <th>Vị trí</th>
                        <th>Năm sinh</th>
                        <th>GPA</th>
                        <th>SĐT</th>
                        <th>Email</th>
                        <th>Ghi chú</th>
                        <th>Status</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Niger
                            </td>
                            <td>
                                <a href="#">Click</a>
                            </td>
                            <td>
                                Bách Khoa
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                .NET
                            </td>
                            <td>
                                1999
                            </td>
                            <td>
                                4.00
                            </td>
                            <td>
                                08686886868
                            </td>
                            <td>Niger@gmail.com</td>
                            <td>
                                Tiếng nhật N3
                            </td>
                            <td>
                                <div class="badge badge-warning">Active</div>
                            </td>
                            <td class="d-flex justify-content-between align-items-center">
                                <div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                          <i class="fas fa-paper-plane"></i>
                        </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                          <i class="fas fa-pen"></i>
                        </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                          <i class="fas fa-trash"></i>
                        </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <!-- <pagination [totalItems]="30"></pagination> -->
            </div>
        </div>
    </div>
</div>