<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="input-group" style="position: relative;">
                        <input type="text" value="" class="form-control" placeholder="Tìm kiếm...">
                        <i class="nc-icon nc-zoom-split" style="position: absolute; right: 14px; top: 14px;"></i>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="row float-right">
                    <button class="au-btn au-btn-icon au-btn--dark au-btn--small">
                  <i class="fas fa-download"></i> Export</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Check-in</h4>
            </div>
            <div class="card-body">
                <!-- <div class="table-responsive"> -->
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            STT
                        </th>
                        <th>
                            Họ tên
                        </th>
                        <th>
                            Năm thứ
                        </th>
                        <th>
                            GPA
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            Mail công ty
                        </th>
                        <th>
                            Trường
                        </th>
                        <th>
                            Ngôn ngữ
                        </th>
                        <th>
                            Ngày checkin
                        </th>
                        <th>
                            Trạng thái
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Niger
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                3.0
                            </td>
                            <td>
                                128
                            </td>
                            <td>
                                nuger@talent.ominext.com
                            </td>
                            <td>
                                Bách Khoa
                            </td>
                            <td>
                                Java
                            </td>
                            <td>
                                22/12/2019
                            </td>
                            <td>
                                <select name="" id="" class="form-control">
                        <option value="">Đã checkin</option>
                        <option value="">Chưa checkin</option>
                        <option value="">Từ chối checkin</option>
                        <option value="">Đã gửi mail offer</option>
                        <option value="">Đã xác nhận mail</option>
                    </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- </div> -->

                <!-- Pagination -->
                <!-- <div class="row">
            <div class="col-xs-12 col-12">
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
              </div>
          </div> -->
            </div>
        </div>
    </div>
</div>