<!-- <div id="content">
    <div class="wrapper-content">
        <div class="content-module d-flex justify-content-center">
            <div class="box-form col-lg-6 col-md-0">
                <div class="box col-lg-6 col-md-12">
                    <form action="">
                        <div class="inp">
                            <b>Họ tên</b>
                            <p>Nguyễn Văn A</p>
                        </div>
                        <div class="inp">
                            <b>Link CV</b>
                            <p>nguyen-van-a.com</p>
                        </div>
                        <div class="inp">
                            <b>Trường học</b>
                            <p>Đại Học Quốc Gia Hà Nội</p>
                        </div>
                        <div class="inp">
                            <b>Vị trí</b>
                            <p>Vị trí 1</p>
                        </div>
                        <div class="inp">
                            <b>Năm sinh</b>
                            <p>1995</p>
                        </div>
                        <div class="inp">
                            <b>Điểm trung bình</b>
                            <p>90</p>
                        </div>
                        <div class="inp">
                            <b>Số điện thoại</b>
                            <p>0123456789</p>
                        </div>
                        <div class="footer-form" style="text-align: center;">
                            <a href="" class="delete">Loại</a>
                            <a href="" class="exam">Thi tuyển</a>
                            <a href="" class="tick">Tuyển thẳng</a>
                            <a href="" class="save">Lưu CV</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-0 "></div>
    </div> -->

<div class="row">
    <div class="col-lg-3 col-md-0"></div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Duyệt</strong>
                <small> Form</small>
            </div>
            <div class="card-body card-block">
                <div class="col-8">
                    <div class="form-group">
                        <label for="name" class=" form-control-label">Họ tên</label>
                        <input type="text" id="name" value="Phạm Văn A" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="link" class=" form-control-label">Link CV</label>
                        <input type="text" id="link" value="pham-van-a.com" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="school" class="form-control-label-school">Trường học</label>
                        <input type="text " id="school " value="Đại Học Quốc Gia Hà Nội " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="GPA " class="form-control-label-point">Điểm trung bình</label>
                        <input type="text " id="GPA " value="2.5 " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="year " class=" form-control-label ">Năm thứ</label>
                        <input type="text " id="year " value="2 " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="mail " class=" form-control-label ">Email</label>
                        <input type="text " id="mailAdress " value="abc@gmail.com " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="position " class=" form-control-label ">Vị trí</label>
                        <input type="text " id="Year of Birth " value=".Net " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="birthday " class=" form-control-label ">Năm sinh</label>
                        <input type="text " id="birthday " value="1999 " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="Phone " class="form-control-label ">Số điện thoại</label>
                        <input type="text " id="phone " value="0987654321 " class="form-control " readonly>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="form-group ">
                        <label for="note " class="form-control-label ">Ghi chú</label>
                        <input type="text " id="note " value="Chứng chỉ tiếng nhật N5 " class="form-control " readonly>
                    </div>
                </div>
            </div>
            <div class="row submit-btn ">
                <button type="delete " class="btn btn-delete btn-sm ">
                        <i class="fa fa-trash "></i> Loại
                    </button>

                <button type="exam " class="btn btn-exam btn-sm ">
                        <i class="fa fa-file-alt "></i> Thi tuyển
                    </button>

                <button type="check " class="btn btn-directentry btn-sm ">
                        <i class="fa fa-check "></i> Tuyển thẳng
                    </button>

                <button type="save " class="btn btn-save btn-sm ">
                        <i class="fa fa-save "></i> Lưu CV
                    </button>
                <!-- <div class="footer-form " style="text-align: center; ">
                <a href=" " class="delete ">Loại</a>
                <a href=" " class="exam ">Thi tuyển</a>
                <a href=" " class="tick ">Tuyển thẳng</a>
                <a href=" " class="save ">Lưu CV</a>
            </div> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-0 "></div>
    </div>