<div class="row">
    <div class="col-lg-3 col-md-0"></div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Sinh viên</strong>
                <small> Form</small>
            </div>
            <div class="card-body card-block">
                <div class="col-12">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Họ tên</label>
                        <input type="text" id="name" placeholder="Nhập tên" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="vat" class=" form-control-label">Link CV</label>
                        <input type="text" id="link" placeholder="Link" class="form-control">
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="school" class=" form-control-label">Trường học</label>
                        <select name="select" id="Select" class="form-control">
                            <option value="0">Chọn trường</option>
                            <option value="1">Bách Khoa</option>
                            <option value="2">Công Nghệ</option>
                            <option value="3">FPT</option>
                            <option value="4">Bưu Chính</option>
                            <option value="5">Công Nghiệp</option>
                            <option value="6">BK Aptech</option>
                            <option value="7">GTVT</option>
                            <option value="8">HV KTQS</option>
                            <option value="9">FPT aptech</option>
                            <option value="10">ĐH Mỏ - địa chất HN</option>
                            <option value="11">FPT Polytechnic</option>
                            <option value="12">Học viện Kỹ thuật mật mã</option>
                            <option value="13">ĐH Sư phạm Kỹ Thuật Hưng Yên</option>
                            <option value="14">Công Nghệ GTVT</option>
                            <option value="15">Kinh Tế Quốc Dân</option>
                            <option value="16">Tài Nguyên Môi Trường</option>
                            <option value="17">Học Viện Công Nghệ Bách Khóa</option>
                            <option value="18">Đại Học Kỹ Thuật Hưng Yên</option>
                            <option value="19">ĐH Thương Mại</option>
                            <option value="20">Đại Học Ngoại Ngữ</option>
                            <option value="21">ĐH Kinh tế kỹ thuật công nghiệp</option>
                            <option value="22">Học Viện Quản Lý Giáo Dục</option>
                            <option value="23">Đại Học Thủy Lợi</option>
                            <option value="24">Học Viện Tài Chính</option>
                            <option value="25">Cao đẳng Bách Khoa</option>
                            <option value="26">ĐH kinh Doanh và Công Nghệ</option>
                            <option value="27">ĐH Phương Đông</option>
                            <option value="28">Aptech</option>
                            <option value="29">
                                Trường khác
                                <input type="text" placeholder="Nhập trường khác" class="form-control">
                            </option>
                            
                            <!-- <option value="29" id="myselect" onclick="getIndex()">Trường khác
                                <script>
                                    function getIndex() {
                                      document.getElementById("demo").innerHTML =
                                      document.getElementById("myselect").selectedIndex;
                                    }
                                    </script>
                                <input type="text" onclick="getIndex()">
                                <p id="demo"></p>
                            </option> -->
                        </select>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="Year" class=" form-control-label">Năm thứ</label>
                        <select name="select" id="Select" class="form-control">
                            <option value="0">Chọn năm</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">Đã tốt nghiệp</option>
                        </select>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group ">
                        <label for="MailAdress " class=" form-control-label ">Địa chỉ email</label>
                        <input type="text " id="MailAdress " placeholder="Nhập địa chỉ email" class="form-control ">
                    </div>
                </div>
                <div class="col-8" style="display: inline-block;">
                    <div class=" form-group ">
                        <label for="Position" class=" form-control-label ">Vị trí ứng tuyển</label>
                        <select name="select" id="Select" class="form-control">
                            <option value="0">Chọn vị trí</option>
                            <option value="1">Java</option>
                            <option value="2">PHP</option>
                            <option value="3">.Net</option>
                            <option value="4">Python</option>
                            <option value="5">Ruby on Rails</option>
                            <option value="6">Android</option>
                            <option value="7">IOS</option>
                            <option value="8">Frontend</option>
                            <option value="9">Tester</option>
                            <option value="10">C++</option>
                            <option value="11">Chưa xếp vị trí</option>
                            <option value="12">BrSE</option>
                            <option value="13">Lập trình web</option>
                            <option value="15">Mobile</option>
                        </select>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group ">
                        <label for="Year of Birth" class=" form-control-label ">Năm sinh</label>
                        <input type="date" id="Year of Birth" placeholder="Nhập năm sinh " class="form-control ">
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group ">
                        <label for="GPA " class=" form-control-label ">Điểm trung bình</label>
                        <input type="text " id="GPA" placeholder="Nhập điểm trung bình " class="form-control ">
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group ">
                        <label for="Phone " class=" form-control-label ">Số điện thoại</label>
                        <input type="text " id="phone " placeholder="Nhập số điện thoại " class="form-control ">
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group ">
                        <label for="Note " class=" form-control-label ">Ghi chú</label>
                        <input type="text " id="note " placeholder="Ghi chú " class="form-control ">
                    </div>
                </div>
            </div>
            <div class="row submit-btn ">
                <button type="submit " class="btn btn-primary btn-sm ">
                        <i class="fa fa-dot-circle-o "></i> Submit
                    </button>
                <pre>   </pre>
                <button type="reset " class="btn btn-danger btn-sm ">
                        <i class="fa fa-ban "></i> Reset
                    </button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-0 "></div>
</div>