.login-half-bg{
    background: url("https://res.cloudinary.com/ominext/image/upload/v1578363928/Sakura/73361318_559441564814700_8219765276451799040_n_hz7qeh.png");
    background-size: cover;
}
.brand-logo{
    max-width: 50%;
}
.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}
.auth.auth-img-bg {
    padding: 0;
}
.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    min-height: 100vh;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
h4{
    font-size: 20px;
}
.auth-form-btn{
    width: 200px;
    border-radius: 30px;
    margin: 0px auto;
}
.nc-key-25{
    left: 10px;
    top: 12px;
}
.nc-single-02{
    left: 10px;
    top: 12px;
}
.input-group-prepend{
    background-color: #ffffff;
}
.form-control-lg{
    padding-left: 35px;
    border-radius: 4px;
}
.custom-control-label::before {
    top: 2px;
}
.custom-control-label::after {
    top: 2px;
}
.btn-gradient-primary {
    background: linear-gradient(to right, #da8cff, #9a55ff);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.btn-gradient-primary:hover {
    opacity: .8;
}
.btn-gradient-primary:not(.btn-gradient-light):hover {
    color: #ffffff;
}
